.fm-update {
  border: solid 1px black;
  margin-bottom: 10px;
}

.more-button {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  border: solid 1px black;
}

#fm-filters span {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  border: solid 1px black;
  cursor: pointer;
}

.rating {
    display: inline-block;
    background: transparent url(../img/stars.png) repeat-x scroll 0px 0px;
    height: 30px;
    width: 150px;
}

.rating .ratingHighlight {
    display: inline-block;
    background: transparent url(../img/stars.png) repeat-x scroll 0px -30px;
    height: 30px;
}
.rating span {
    display: none;
}